/*fuentes*/
@font-face {
	font-family: 'Baroque';
	src: url(./assets/font/BaroqueScript.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
/*fin de fuentes*/
/*reseteo*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*reseteo*/
/*header*/
.header {
	padding-top: 25px;
	text-align: center;
	font-size: 18px;
	font-family: 'Baroque';
	width: 100%;
	background-image: linear-gradient(#fa96ed, #f8d1ed );
	h1{
		text-shadow: 1px 1px 2px black;
	}
}
/*nav del header*/
#btn-menu {
	display: none;
}
header {
	height: 140px;
	label {
		display: none;
		&:hover {
			cursor: pointer;
			transform: scale(1.3);
			color: #ff00bf;
			transition: .5s;
		}
	}
}
.menu {
	font-family: 'Merriweather Sans', sans-serif;
	z-index: 100;
	ul {
		margin: 0;
		padding: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		li {
			font-size: 20px;
		}
	}
	li {
		a {
			display: flex;
			flex-direction: row;
			justify-content: center;
			color: #b11e87;
			text-decoration: none;
			display: block;
		}
		&:hover {
			color: #df0eab;
			transition: all 0.6s;
			transform: scale(1.3);
		}
	}
}
/*fin header*/
/*contenido del main/body*/
main {
	min-height: calc(100vh - 140px - 70px);
}
body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #faf1f7;
	color: #b11e87;
    font-size: 18px;
}
/*banner del index*/
.banner {
	margin-top: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	img {
		height: 200px;
	}
	p {
		height: auto;
		width: 400px;
		line-height: 30px;
		text-align: justify;
	}
}
.enlace {
	text-decoration: none;
	color: #fd08c0;
}
/*fin del banner*/
/*titulos (h2) de las paginas*/
.titulo {
	text-align: center;
	padding: 20px;
}
/*fin titulos*/
/*carousel del index*/
.card-body {
	color: #c41c94;
	text-align: right;
}
.col-sm-6 {
	img {
		width: 250px;
		height: 300px;
		object-fit: cover;
		width: 100%;
	}
}
.carousel-control-next {
	opacity: 0.7;
	padding-left: 60px;
}
.carousel-control-prev {
	opacity: 0.7;
	padding-right: 60px;
}
.card-title {
	color: #79145c;
}
.container {
	width: 50%;
	line-height: normal;
}
/*fin del carousel*/
/*cuerpo de los html menos index*/
.texto {
	width: 100%;
}
.galeria {
	width: 100%;
	height: auto;
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 300px 300px;
	grid-gap: 20px;
}
.item {
	background-color: grey;
	border: 2px solid black;
	width: 100%;
	height: auto;
	box-shadow: 1px 1px 5px black;
	border-radius: 5px;
	object-fit: scale-down;
	&:hover {
		transform: scale(1.1);
		transition: all 0.8s;
	}
}
.postre1 {
	background-image: url(./assets/img/postre1.jpeg);
	background-size: cover;
	background-position: center;
}
.postre2 {
	background-image: url(./assets/img/postre2.jpeg);
	background-size: cover;
	background-position: bottom;
}
.postre3 {
	background-image: url(./assets/img/postre3.jpeg);
	background-size: cover;
	background-position: center;
}
.postre4 {
	background-image: url(./assets/img/postre4.jpeg);
	background-size: cover;
	background-position: bottom;
}
.postre5 {
	background-image: url(./assets/img/postre5.jpeg);
	background-size: cover;
	background-position: center;
}
.postre6 {
	background-image: url(./assets/img/postre6.jpeg);
	background-size: cover;
	background-position: center;
}
.postre7 {
	background-image: url(./assets/img/postre7.jpeg);
	background-size: cover;
	background-position: center;
}
.postre8 {
	background-image: url(./assets/img/postre8.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel1 {
	background-image: url(./assets/img/torta1.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel2 {
	background-image: url(./assets/img/torta2.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel3 {
	background-image: url(./assets/img/torta3.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel4 {
	background-image: url(./assets/img/torta4.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel5 {
	background-image: url(./assets/img/torta5.jpeg);
	background-size: cover;
	background-position: center;
}
.pastel6 {
	background-image: url(./assets/img/torta6.jpg);
	background-size: cover;
	background-position: top;
}
.pastel7 {
	background-image: url(./assets/img/torta7.jpg);
	background-size: cover;
	background-position: center;
}
.pastel8 {
	background-image: url(./assets/img/torta8.jpg);
	background-size: cover;
	background-position: center;
}
.dulce1 {
	background-image: url(./assets/img/dulce1.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce2 {
	background-image: url(./assets/img/dulce2.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce3 {
	background-image: url(./assets/img/dulce3.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce4 {
	background-image: url(./assets/img/dulce4.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce5 {
	background-image: url(./assets/img/dulce5.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce6 {
	background-image: url(./assets/img/dulce6.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce7 {
	background-image: url(./assets/img/dulce7.jpeg);
	background-size: cover;
	background-position: center;
}
.dulce8 {
	background-image: url(./assets/img/dulce8.jpeg);
	background-size: cover;
	background-position: center;
}
/*pagina de contacto*/
.contacto {
	text-align: center;
	padding: 20px;
}
.consulta {
	margin: 15px;
	text-align: center;
}
.formulario {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #b11e87;
	font-size: 16px;
	align-items: center;
	gap: 15px;
	width: 70%;
	margin: auto;
	h3 {
		text-align: center;
	}
}
form{
	width: 100%;
}
.btn {
	color: white;
	background-color: #b11e87;
}
.form-group {
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
}
/*fin del cuerpo de los html*/
/*footer*/
footer {
	text-align: center;
	letter-spacing: 20px;
	font-size: 28px;
	margin-top: 20px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
	background-image: linear-gradient(#f8d1ed, #fa96ed );
	height: 70px;
	padding-top: 10px;
	a {
		text-decoration: none;
		color: #b11e87;
	}
	i{
		&:hover {
			color: #df0eab;
			transition: all 0.9s;
			transform: scale(1.2);
		}
	}
}
/*fin footer*/
@media only screen and (min-width:320px) and (max-width:500px) {
	header {
		label {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	#btn-menu {
		display: none;
		&:checked {
			~ {
				.menu {
					margin: 0;
				}
			}
		}
	}
	.center {
		align-content: center;
	}
	.menu {
		position: absolute;
		background-color: #f3bce3;
		margin-left: -70%;
		border: 1px solid #b11e87;
		transition: all 0.5s;
		ul {
			flex-direction: column;
		}
	}
	.banner {
		p {
			width: 80%;
		}
	}
	.container {
		width: auto;
		p {
			line-height: 1.7;
			text-align: left;
			width: auto;
		}
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.carousel-control-next {
		opacity: 0.7;
		padding: 0;
	}
	.carousel-control-prev {
		opacity: 0.7;
		padding: 0;
	}
	.float-right {
		img {
			width: 70%;
		}
	}
	.galeria {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(4, 200px);
	}
	.postre1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.postre2 {
		object-fit: cover;
		grid-column: 2/4;
		grid-row: 1/2;
	}
	.postre3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.postre4 {
		grid-column: 2/4;
		grid-row: 2/3;
	}
	.postre5 {
		grid-column: 1/3;
		grid-row: 3/4;
	}
	.postre6 {
		grid-column: 3/4;
		grid-row: 3/4;
	}
	.postre7 {
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.postre8 {
		grid-column: 2/4;
		grid-row: 4/5;
	}
	.pastel1 {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.pastel2 {
		grid-column: 3/4;
		grid-row: 1/2;
	}
	.pastel3 {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.pastel4 {
		grid-column: 3/4;
		grid-row: 2/3;
	}
	.pastel5 {
		grid-column: 1/3;
		grid-row: 3/4;
	}
	.pastel6 {
		grid-column: 3/4;
		grid-row: 3/4;
	}
	.pastel7 {
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.pastel8 {
		grid-column: 2/4;
		grid-row: 4/5;
	}
	.dulce1 {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.dulce2 {
		grid-column: 3/4;
		grid-row: 1/2;
	}
	.dulce3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.dulce4 {
		grid-column: 2/4;
		grid-row: 2/3;
	}
	.dulce5 {
		grid-column: 2/3;
		grid-row: 3/4;
	}
	.dulce6 {
		grid-column: 3/4;
		grid-row: 3/4;
	}
	.dulce7 {
		grid-column: 1/2;
		grid-row: 3/5;
	}
	.dulce8 {
		grid-column: 2/4;
		grid-row: 4/5;
	}
	footer {
		letter-spacing: 10px;
	}
	.contacto {
		input {
			width: 100%;
		}
		textarea {
			width: 100%;
		}
		iframe {
			width: 100%;
		}
	}
}
@media only screen and (min-width:501px) and (max-width:850px) {
	header {
		label {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	#btn-menu {
		display: none;
		&:checked {
			~ {
				.menu {
					margin: 0;
				}
			}
		}
	}
	.center {
		align-content: center;
	}
	.menu {
		position: absolute;
		background-color: #f3bce3;
		margin-left: -70%;
		border: 1px solid #b11e87;
		transition: all 0.5s;
		ul {
			flex-direction: column;
		}
	}
	.galeria {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 200px 200px;
	}
	.container {
		width: auto;
	}
}
